<div class="container">

    <h2>Salvar Contato</h2>

    <!-- definindo uma variável para nosso form, aqui vamos ter acesso ao nosso formcontrol -->
    <form #contatoForm="ngForm">

        <div [ngClass]="getFormGroupClass()" >
            <label for="nome">Nome</label>
            <input type="text" [ngClass]="getFormControlClass(nome.valid, nome.pristine)" placeholder="Insira o nome"
                required
                #nome="ngModel"
                name="nome"                
                [(ngModel)]="contato.nome">
            <div class="invalid-feedback" [hidden]="nome.valid || nome.pristine" >O campo nome é obrigatório!</div>
        </div>

        <div [ngClass]="getFormGroupClass()">
            <label for="email">Email</label>
            <input type="email" [ngClass]="getFormControlClass(email.valid, email.pristine)" placeholder="Insira o email"
                required
                #email="ngModel"
                name="email"
                [(ngModel)]="contato.email">
                <div class="invalid-feedback" [hidden]="email.valid || email.pristine" >O campo email é obrigatório!</div>
        </div>

        <div [ngClass]="getFormGroupClass()">
            <label for="telefone">Telefone</label>
            <input type="text" [ngClass]="getFormControlClass(telefone.valid,telefone.pristine)" placeholder="Insira o telefone"
                required
                #telefone="ngModel"
                name="telefone"
                [(ngModel)]="contato.telefone">
                <div class="invalid-feedback" [hidden]="telefone.valid || telefone.pristine" >O campo é obrigatório!</div>
        </div>

        <!-- aqui fazemos um property binding para validar o formulário -->
        <button class="btn btn-success" [disabled]="!contatoForm.form.valid">Salvar</button>
        <a class="btn btn-secondary" routerLink="/">Voltar</a>
    </form>

    <button (click)="teste()" class="btn btn-warning">Log</button>

</div>