<div class="container">

    <h2>Salvar Contato</h2>

    <!-- definindo uma variável para nosso form, aqui vamos ter acesso ao nosso formcontrol -->
    <form (ngSubmit)="onSubmit()" #contatoForm="ngForm" novalidate>

        <div [ngClass]="getFormGroupClass()" >
            <label for="nome">Nome</label>
            <input type="text" placeholder="Insira o nome"
                [ngClass]="getFormControlClass(nome.valid, nome.pristine)"
                required
                #nome="ngModel"
                name="nome"                
                [(ngModel)]="contato.nome">
            <div class="invalid-feedback" [hidden]="nome.valid || nome.pristine" >O campo nome é obrigatório!</div>
        </div>

        <div [ngClass]="getFormGroupClass()">
            <label for="email">Email</label>
            <input type="email" placeholder="Insira o email"
                [ngClass]="getFormControlClass(email.valid, email.pristine)"
                required
                #email="ngModel"
                name="email"
                [(ngModel)]="contato.email">
                <div class="invalid-feedback" [hidden]="email.valid || email.pristine" >O campo email é obrigatório!</div>
        </div>

        <div [ngClass]="getFormGroupClass()">
            <label for="telefone">Telefone</label>
            <input type="text" placeholder="Insira o telefone"
                [ngClass]="getFormControlClass(telefone.valid,telefone.pristine)"
                required
                #telefone="ngModel"
                name="telefone"
                [(ngModel)]="contato.telefone">
                <div class="invalid-feedback" [hidden]="telefone.valid || telefone.pristine" >O campo telefone é obrigatório!</div>
        </div>

        <!-- aqui fazemos um property binding para validar o formulário -->
        <button type="submit" class="btn btn-success" [disabled]="!contatoForm.form.valid">Salvar</button>
        <a class="btn btn-secondary" (click)="goBack()">Voltar</a>
    </form>

</div>