<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- Invés de usar href, usamos o routerLink, que é uma diretiva do routingmodule -->
    <a class="navbar-brand" routerLink="/" >Contatos</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <!-- Invés de usar href, usamos o routerLink, que é uma diretiva do routingmodule -->
                <a class="nav-link" routerLink="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item">
                <!-- Invés de usar href, usamos o routerLink, que é uma diretiva do routingmodule -->
                <a class="nav-link" routerLink="/contato/save">Novo</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
            name="busca"
            [(ngModel)]="termo">
        </form>
    </div>
</nav>

<!-- Esse component é um component do próprio routing module, 
    ele é um component que vai rendenrizar dentro dele o component que
    nós pedirmos para ser mostrado naquela rota-->
<router-outlet> </router-outlet>

<contato-busca [busca]="termo"></contato-busca>